apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: frontend
  labels:
    tier: frontend
spec:
  # modify replicas according to your case
  replicas: 3
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
      - name: sripython
        image: ssreee/helloworld-demo-python:v1
---

apiVersion: v1
kind: Namespace
metadata:
  name: sri1

---

apiVersion: v1
kind: Pod
metadata:
  namespace: sri1
  name: sripython
spec:
  containers:
  - name: sripython
    image: ssreee/helloworld-demo-python:v1
    ports:
    - containerPort: 8080


---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssreee-deployment
  labels:
    app: nginx
spec:
  replicas: 7
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: ssreee
        image: ssreee/helloworld-demo-python:v1
        ports:
        - containerPort: 8080
